.container {
  max-width: 960px;
}

#logo-container {
  text-align: center;
  margin-bottom: 20px;
}

#logo {
  max-width: 100%;
  height: auto;
}
.text-center {
    text-align: center;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; /* To ensure it stays on top of other content */
}
.fixed-top {
    position: fixed;
    top: 0;
    left: 0; /* ensure it's pinned to the left edge of the screen */
    right: 0; /* ensure it spans the entire width */
    z-index: 1030; /* To make sure it stays on top of other content */
}
body {
    padding-top: 70px; /* slightly more than the navbar's height to give some space */
}
#home {
    padding-top: 60px;    /* Push the content down by the height of the navbar */
    margin-top: -60px;    /* Pull the container up by the same amount */
}
  .rounded-carousel-image {
    border-radius: 15px;  /* You can adjust this value as per your preference */
  }